<!-- INCLUDE overall_header.html -->

<!-- IF S_FORUM_RULES -->
			<span class="header">{L_FORUM_RULES}</span>
			<ul class="pageitem"><li class="textbox">
		<!-- IF U_FORUM_RULES -->
			<a href="{U_FORUM_RULES}"><b>{L_FORUM_RULES_LINK}</b></a>
		<!-- ELSE -->
			{FORUM_RULES}
		<!-- ENDIF -->
	</li>
	</ul>
<!-- ENDIF -->

<!-- IF S_DISPLAY_ACTIVE -->
	<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<td class="cat" colspan="<!-- IF S_TOPIC_ICONS -->7<!-- ELSE -->6<!-- ENDIF -->"><span class="nav">{L_ACTIVE_TOPICS}</span></td>
	</tr>

	<tr>
		<!-- IF S_TOPIC_ICONS -->
			<th colspan="3">&nbsp;{L_TOPICS}&nbsp;</th>
		<!-- ELSE -->
			<th colspan="2">&nbsp;{L_TOPICS}&nbsp;</th>
		<!-- ENDIF -->
		<th>&nbsp;{L_AUTHOR}&nbsp;</th>
		<th>&nbsp;{L_REPLIES}&nbsp;</th>
		<th>&nbsp;{L_VIEWS}&nbsp;</th>
		<th>&nbsp;{L_LAST_POST}&nbsp;</th>
	</tr>

	<!-- BEGIN topicrow -->

		<tr>
			<td class="row1" width="25" align="center">{topicrow.TOPIC_FOLDER_IMG}</td>
			<!-- IF S_TOPIC_ICONS -->
				<td class="row1" width="25" align="center"><!-- IF topicrow.TOPIC_ICON_IMG --><img src="{T_ICONS_PATH}{topicrow.TOPIC_ICON_IMG}" width="{topicrow.TOPIC_ICON_IMG_WIDTH}" height="{topicrow.TOPIC_ICON_IMG_HEIGHT}" alt="" title="" /><!-- ENDIF --></td>
			<!-- ENDIF -->
			<td class="row1">
				<!-- IF topicrow.S_UNREAD_TOPIC --><a href="{topicrow.U_NEWEST_POST}">{NEWEST_POST_IMG}</a><!-- ENDIF -->
				{topicrow.ATTACH_ICON_IMG} <!-- IF topicrow.S_HAS_POLL or topicrow.S_TOPIC_MOVED --><b>{topicrow.TOPIC_TYPE}</b> <!-- ENDIF --><a title="{L_POSTED}: {topicrow.FIRST_POST_TIME}" href="{topicrow.U_VIEW_TOPIC}"class="topictitle">{topicrow.TOPIC_TITLE}</a>
				<!-- IF topicrow.S_TOPIC_UNAPPROVED or topicrow.S_POSTS_UNAPPROVED -->
					<a href="{topicrow.U_MCP_QUEUE}">{UNAPPROVED_IMG}</a>&nbsp;
				<!-- ENDIF -->
				<!-- IF topicrow.S_TOPIC_REPORTED -->
					<a href="{topicrow.U_MCP_REPORT}">{REPORTED_IMG}</a>&nbsp;
				<!-- ENDIF -->
				<!-- IF topicrow.PAGINATION -->
					<p class="gensmall"> [ {GOTO_PAGE_IMG}{L_GOTO_PAGE}: {topicrow.PAGINATION} ] </p>
				<!-- ENDIF -->
			</td>
			<td class="row2" width="130" align="center"><p class="topicauthor">{topicrow.TOPIC_AUTHOR_FULL}</p></td>
			<td class="row1" width="50" align="center"><p class="topicdetails">{topicrow.REPLIES}</p></td>
			<td class="row2" width="50" align="center"><p class="topicdetails">{topicrow.VIEWS}</p></td>
			<td class="row1" width="140" align="center">
				<p class="topicdetails" style="white-space: nowrap;">{topicrow.LAST_POST_TIME}</p>
				<p class="topicdetails">{topicrow.LAST_POST_AUTHOR_FULL}
					<!-- IF not S_IS_BOT --><a href="{topicrow.U_LAST_POST}">{LAST_POST_IMG}</a><!-- ENDIF -->
				</p>
			</td>
		</tr>

	<!-- BEGINELSE -->

		<tr>
			<!-- IF S_TOPIC_ICONS -->
				<td class="row1" colspan="7" height="30" align="center" valign="middle"><span class="gen"><!-- IF not S_SORT_DAYS -->{L_NO_TOPICS}<!-- ELSE -->{L_NO_TOPICS_TIME_FRAME}<!-- ENDIF --></span></td>
			<!-- ELSE -->
				<td class="row1" colspan="6" height="30" align="center" valign="middle"><span class="gen"><!-- IF not S_SORT_DAYS -->{L_NO_TOPICS}<!-- ELSE -->{L_NO_TOPICS_TIME_FRAME}<!-- ENDIF --></span></td>
			<!-- ENDIF -->
		</tr>
	<!-- END topicrow -->

	<tr align="center">
		<td class="cat" colspan="<!-- IF S_TOPIC_ICONS -->7<!-- ELSE -->6<!-- ENDIF -->">&nbsp;</td>
	</tr>
	</table>

	<br clear="all" />
<!-- ENDIF -->

<!-- IF S_HAS_SUBFORUM -->
	<!-- INCLUDE forumlist_body.html -->
	<br clear="all" />
<!-- ENDIF -->

<!-- IF S_IS_POSTABLE or S_NO_READ_ACCESS -->

		<span class="header">{FORUM_NAME}</span>

<!-- ENDIF -->

<div id="pagecontent">

<!-- IF S_NO_READ_ACCESS -->
	<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<td class="row1" height="30" align="center" valign="middle"><span class="gen">{L_NO_READ_ACCESS}</span></td>
	</tr>
	</table>

	<br clear="all" />
<!-- ENDIF -->

	<!-- IF S_DISPLAY_POST_INFO or TOTAL_TOPICS -->
		<table width="100%" cellspacing="1">
		<tr>
			<!-- IF TOTAL_TOPICS -->
				<td class="nav" valign="middle" nowrap="nowrap">&nbsp;{PAGE_NUMBER}<br /></td>
				<td class="gensmall" nowrap="nowrap">&nbsp;[ {TOTAL_TOPICS} ]&nbsp;</td>
				<td class="gensmall" width="100%" align="{S_CONTENT_FLOW_END}" nowrap="nowrap"><!-- INCLUDE pagination.html --></td>
			<!-- ENDIF -->
		</tr>
		</table>
	<!-- ENDIF -->

	<!-- IF not S_DISPLAY_ACTIVE and (S_IS_POSTABLE or .topicrow) -->

				

		<!-- BEGIN topicrow -->

			<!-- IF topicrow.S_TOPIC_TYPE_SWITCH eq 1 -->
				<span class="header">{L_ANNOUNCEMENTS}</span>
			<!-- ELSEIF topicrow.S_TOPIC_TYPE_SWITCH eq 0 -->
			</ul>
				<span class="header">{L_TOPICS}</span>
				<ul class="pageitem">
			<!-- ENDIF -->

<!-- IF topicrow.S_FIRST_ROW --><ul class="pageitem"><!-- ENDIF -->
	<li class="menu">
	<a href="{topicrow.U_VIEW_TOPIC}">{topicrow.TOPIC_FOLDER_IMG} <span class="name">{topicrow.TOPIC_TITLE}</span> <span class="comment">{topicrow.REPLIES} {L_REPLIES}</span> <span class="arrow"></span> </a>
	</li>
<!-- IF topicrow.S_LAST_ROW --></ul><!-- ENDIF -->

		<!-- BEGINELSE -->
			<!-- IF S_IS_POSTABLE -->
			<tr>
				<!-- IF S_TOPIC_ICONS -->
					<td class="row1" colspan="7" height="30" align="center" valign="middle"><span class="gen"><!-- IF not S_SORT_DAYS -->{L_NO_TOPICS}<!-- ELSE -->{L_NO_TOPICS_TIME_FRAME}<!-- ENDIF --></span></td>
				<!-- ELSE -->
					<td class="row1" colspan="6" height="30" align="center" valign="middle"><span class="gen"><!-- IF not S_SORT_DAYS -->{L_NO_TOPICS}<!-- ELSE -->{L_NO_TOPICS_TIME_FRAME}<!-- ENDIF --></span></td>
				<!-- ENDIF -->
			</tr>
			<!-- ENDIF -->
		<!-- END topicrow -->
		</div>
	<!-- ENDIF -->


<!-- IF S_DISPLAY_ONLINE_LIST -->
<br />
		<span class="header">{L_WHO_IS_ONLINE}</span>

		<ul class="pageitem"><li class="textbox">{LOGGED_IN_USER_LIST}</li></ul>
<!-- ENDIF -->



<!-- INCLUDE overall_footer.html -->
