<?xml version="1.0"?>
<!--
Catroid: An on-device graphical programming language for Android devices
Copyright (C) 2010-2012 The Catroid Team
(<http://code.google.com/p/catroid/wiki/Credits>)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<strings>
  <string name="title">&#x5355;</string>
  <string name="profile">&#x4E2A;&#x4EBA;&#x6863;&#x6848;</string>
  <string name="forum">&#x8BBA;&#x575B;</string>
  <string name="login">&#x767B;&#x5F55;</string>
  <string name="sign_up">&#x6CE8;&#x518C;</string>
  <string name="wiki">&#x5E2E;&#x52A9;</string>
  <string name="wall">&#x9996;&#x9875;</string>
  <string name="settings"> &#x8BBE;&#x7F6E;</string>
</strings>
