<?xml version="1.0"?>
<!--
Catroid: An on-device graphical programming language for Android devices
Copyright (C) 2010-2011 The Catroid Team
(<http://code.google.com/p/catroid/wiki/Credits>)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<strings>
  <string name="title">&#x6E05;&#x55AE;</string>
  <string name="profile">&#x6211;&#x7684;&#x5E33;&#x6236;</string>
  <string name="forum">&#x8A0E;&#x8AD6;&#x5340;</string>
  <string name="wiki">&#x5E6B;&#x52A9;</string>
  <string name="wall">&#x9996;&#x9801;</string>
  <string name="registration">&#x6CE8;&#x518A;</string>
  <string name="settings">&#x8A2D;&#x5B9A;</string>
</strings>
